<header>
  <div class="header-content">
    <div class="logo-category">
      <h1>
        <a href="../../index.html"
          ><img
            src="../../assets/header_logo.png"
            alt="LOPE"
            class="logo-image"
        /></a>
      </h1>
      <link rel="stylesheet" href="../../css/header.css" />
      <nav>
        <ul>
          <li>
            <a href="../../index.html">홈</a>
          </li>
          <li>
            <a href="#" id="bookMark">보관함</a>
          </li>
          <li class="category">
            <button class="category-btn">카테고리</button>
            <div class="category-content">
              <a
                href="../../templates/post/post_list.html?type=a39a5e4b-847d-11ef-84d2-0242ac120007"
                >자유</a
              >
              <a
                href="../../templates/post/post_list.html?type=afaf3aaf-847d-11ef-84d2-0242ac120007"
                >친목</a
              >
              <a
                href="../../templates/post/post_list.html?type=b7b56a55-847d-11ef-84d2-0242ac120007"
                >강아지/고양이</a
              >
              <a
                href="../../templates/post/post_list.html?type=b2e6f193-847d-11ef-84d2-0242ac120007"
                >기타동물</a
              >
              <a
                href="../../templates/post/post_list.html?type=0dcf3371-7996-11ef-b2ad-0242ac120004"
                >애완용품</a
              >
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <form action="#" method="get" id="searchForm" class="search-form">
      <input
        type="search"
        name="q"
        id="searchInput"
        placeholder="검색어를 입력하세요"
        required
      />
      <button type="submit">검색</button>
    </form>
  </div>
</header>
