<header>
  <div class="header-content">
    <div class="logo-category">
      <h1>
        <a href="../../index.html"
          ><img
            src="../../assets/header_logo.png"
            alt="LOPE"
            class="logo-image"
        /></a>
      </h1>
      <link rel="stylesheet" href="../../css/header.css" />
      <nav>
        <ul>
          <li>
            <a href="../../index.html">홈</a>
          </li>
          <li>
            <a href="#" id="bookMark">보관함</a>
          </li>
          <li class="category">
            <button class="category-btn">카테고리</button>
            <div class="category-content">
              <!-- JavaScript로 동적 생성  -->
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <form action="#" method="get" id="searchForm" class="search-form">
      <input
        type="search"
        name="q"
        id="searchInput"
        placeholder="검색어를 입력하세요"
        required
      />
      <button type="submit">검색</button>
    </form>
  </div>
</header>
