<header>
  <div class="header-content">
    <div class="logo-category">
      <h1>
        <a href="../../index.html"
          ><img
            src="../../assets/header_logo.png"
            alt="LOPE"
            class="logo-image"
        /></a>
      </h1>
      <link rel="stylesheet" href="../../css/header.css" />
      <nav>
        <ul>
          <li>
            <a href="../../index.html">홈</a>
          </li>
          <li>
            <a href="#" id="bookMark">보관함</a>
          </li>
          <li class="category">
            <button class="category-btn">카테고리</button>
            <div class="category-content">
              <a
                href="../../templates/post/post_list.html?type=2e124876-9120-11ef-b125-0242ac120006"
                >자유</a
              >
              <a
                href="../../templates/post/post_list.html?type=ec6ffedb-911f-11ef-b125-0242ac120006"
                >강아지/고양이</a
              >
              <a
                href="../../templates/post/post_list.html?type=337e4172-9120-11ef-b125-0242ac120006"
                >기타동물</a
              >
              <a
                href="../../templates/post/post_list.html?type=2f61277c-9120-11ef-b125-0242ac120006"
                >애완용품</a
              >
              <a
                href="../../templates/post/post_list.html?type=e69bbb01-911f-11ef-b125-0242ac120006"
                >후기</a
              >
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <form action="#" method="get" id="searchForm" class="search-form">
      <input
        type="search"
        name="q"
        id="searchInput"
        placeholder="검색어를 입력하세요"
        required
      />
      <button type="submit">검색</button>
    </form>
  </div>
</header>
