<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOPE</title>
    <link rel="stylesheet" href="/css/signup.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../assets/favicon.png"
    />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="header-placeholder"></div>
    <main class="detail-body">
      <div class="container">
        <h1 class="sign_text">회원 가입</h1>
        <form class="sign_form" id="signupForm">
          <div class="input-group">
            <input
              type="text"
              id="name"
              name="name"
              required
              placeholder="닉네임"
            />
            <label for="name">닉네임</label>
          </div>
          <div id="nickname-message" class="message"></div>
          <div class="input-group">
            <input
              type="text"
              id="email"
              name="email"
              required
              placeholder="이메일"
            />
            <label for="email">이메일 (로그인시 사용) </label>
          </div>
          <div class="message success-message hide">
            사용할 수 있는 이메일입니다.
          </div>
          <div class="message failure-message hide">
            이메일은 4~12글자이어야 합니다.
          </div>
          <div class="message failure-message2 hide">
            영어 또는 숫자만 가능합니다.
          </div>
          <div class="input-group">
            <input
              type="password"
              id="password"
              name="password"
              required
              placeholder="비밀번호"
            />
            <label for="password">비밀번호</label>
          </div>
          <div class="input-group">
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              required
              placeholder="비밀번호 확인"
            />
            <label for="confirmPassword">비밀번호 확인</label>
          </div>
          <div id="password-message" class="message"></div>
          <div class="input-group input-group-button">
            <input
              type="text"
              id="phone"
              name="phone"
              required
              placeholder="핸드폰 번호"
            />
            <label for="phone">핸드폰 번호</label>
            <button class="sign_button" type="button" id="sendVerification">
              인증번호 전송
            </button>
          </div>
          <div class="verification-container">
            <span id="timer" style="display: none"></span>
          </div>
          <div class="input-group input-group-button">
            <input
              type="text"
              id="verificationCode"
              name="verificationCode"
              required
              placeholder="인증번호"
            />
            <label for="verificationCode">인증번호</label>
            <button class="sign_button" type="button" id="verifyCode">
              인증 확인
            </button>
          </div>
          <button type="submit" class="sign_button" id="signupButton" disabled>
            가입하기
          </button>
        </form>
      </div>
    </main>
    <footer>
      <p>&copy; 2024 김가연 All rights reserved.</p>
    </footer>

    <script type="module">
      import { initializeHeader } from "/js/header/header.js";
      fetch("/templates/header/header.html")
        .then((response) => response.text())
        .then((data) => {
          document.getElementById("header-placeholder").innerHTML = data;
          initializeHeader();
        });
    </script>
    <script type="module" src="/js/sign/signup.js" defer></script>
    <script type="module" src="/js/sign/phone.js" defer></script>
  </body>
</html>
