<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>진대 - 유저 계정 관리</title>
    <link rel="stylesheet" href="/msa_Project/front/css/user_update.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
  </head>

  <body>
    <div id="header-placeholder"></div>
    <div class="detail-body">
      <div class="container">
        <h1>계정 관리</h1>
        <div class="profile-pic-container">
          <img
            src="/msa_Project/front/assets/default-profile-picture.jpg"
            alt="프로필 사진"
            class="profile-pic"
            id="profile-pic"
          />
          <label for="profile-pic-input" class="profile-pic-upload">+</label>
          <input
            type="file"
            id="profile-pic-input"
            style="display: none"
            accept="image/*"
          />
        </div>
        <form id="account-form" enctype="multipart/form-data">
          <div class="form-group">
            <label for="name">닉네임</label>
            <input type="text" id="name" name="name" />
          </div>
          <div class="form-group">
            <label for="phone">전화번호</label>
            <input type="tel" id="phone" name="phone" />
          </div>
          <div class="form-group">
            <label for="email">이메일</label>
            <input type="email" id="email" name="email" />
          </div>
          <div class="form-group">
            <label for="password">비밀번호 확인</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="변경사항 저장을 위해 비밀번호를 입력하세요"
            />
          </div>
          <div class="btn-group">
            <div class="btn-pair">
              <button type="button" class="btn btn-primary" id="save-changes">
                변경사항 저장
              </button>
              <button
                type="button"
                class="btn btn-primary"
                id="change-password"
              >
                비밀번호 변경
              </button>
            </div>
            <button type="button" class="btn btn-secondary" id="delete-account">
              탈퇴
            </button>
          </div>
        </form>
        <div class="last-modified">
          마지막 수정일: <span id="last-modified-date"></span>
        </div>
      </div>
    </div>

    <div id="passwordChangeModal" class="modal">
      <div class="modal-content">
        <h2>비밀번호 변경</h2>
        <form id="passwordChangeForm">
          <div class="form-group">
            <label for="current-password">현재 비밀번호</label>
            <input
              type="password"
              id="currentPassword"
              name="currentPassword"
              required
            />
          </div>
          <div class="form-group">
            <label for="new-password">새 비밀번호</label>
            <input
              type="password"
              id="newPassword"
              name="newPassword"
              required
            />
          </div>
          <div class="form-group">
            <label for="confirm-new-password">새 비밀번호 확인</label>
            <input
              type="password"
              id="confirmNewPassword"
              name="confirmNewPassword"
              required
            />
          </div>
          <button
            type="button"
            class="btn btn-primary"
            id="confirm-password-change"
          >
            변경 확인
          </button>
        </form>
      </div>
    </div>

    <div id="deleteAccountModal" class="modal">
      <div class="modal-content">
        <h2>계정 탈퇴</h2>
        <p>정말로 탈퇴하시겠습니까? 이 작업은 취소할 수 없습니다.</p>
        <div class="form-group">
          <label for="delete-password">비밀번호 확인</label>
          <input type="password" id="delete-password" required />
        </div>
        <button type="button" class="btn btn-primary" id="confirm-delete">
          탈퇴 확인
        </button>
      </div>
    </div>

    <div id="cropModal" class="modal">
      <div class="modal-content">
        <h2>프로필 사진 조정</h2>
        <div>
          <img id="cropImage" src="" alt="이미지 크롭" />
        </div>
        <button id="cropButton" class="btn btn-primary">저장</button>
        <button id="cancelCropButton" class="btn btn-secondary">취소</button>
      </div>
    </div>

    <footer>
      <p>&copy; 2024 김가연 All rights reserved.</p>
    </footer>
  </body>
  <script type="module">
    import { initializeHeader } from "/msa_Project/front/js/header/header.js";

    // 헤더 로드 및 초기화
    fetch("/msa_Project/front/templates/header/header.html")
      .then((response) => response.text())
      .then((data) => {
        document.getElementById("header-placeholder").innerHTML = data;
        initializeHeader();
      });
  </script>
  <script
    type="module"
    src="/msa_Project/front/js/user/user_update.js"
  ></script>
</html>
